.App{
  /* background-color: rgb(10, 10, 10); */
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-attachment: fixed;
  background-image: url('../src/img/bg3.png');
}

html {
  scroll-behavior: smooth;
}

.home1{
  background-image: url('../src/img/bg1.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
 
}
.home12{
  display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

   
 
}
.logo-home{
  height:45vh;
  user-select: none;
  transition: transform 0.3s ease-in-out;
}

.logo-home:hover {
  transform: scale(1.1);
}

.home-title1{
font-family: 'Great Vibes', cursive;
font-size: xx-large;
user-select: none;
}
.card{
  background-color: black!important;
  color: white;
  border: 1px solid #1a1814 !important;
}
.home-title2{
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: x-large;
user-select: none;
}
.contact-title2{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  font-size: 45px;
}
.but{
  margin-bottom: 5vh;
  color: white;
  background-color: black!important;
  font-weight: bold;
  font-size: larger;
}

.slider-autoslider{
  width:90vw;
}

.About-home{
  display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(https://bootstrapmade.com/demo/templates/Restaurantly/assets/img/about-bg.jpg) center center;
      background-size: cover;
      position: relative;
      background-attachment: fixed;
      background-size: contain;
      background-color: rgba(255, 255, 255, 0.5);
}
.About-title{
  font-size: 13vh;
  font-family: "Playfair Display", serif;

  color: #f1f1f1;
}
.About-content{
      
      
      padding: 80px 0;
    width: 100vw;
    display: flex;
  
    height: 80vh;
    
    justify-content: center;
  
    /* background-repeat: no-repeat; */
 
    align-items: center;

}
.About-text{
  width: 90vw;
  font-family: 'Yellowtail', cursive;
  text-align: center;
  font-size: 5vh;
  color: #ffffff;
  background-color: #91919154;
  border-radius: 35px;
}

.nav-logo{
  display: flex;
  align-items: center;
  font-family: 'Yellowtail', cursive;
}

.nav-l{
  margin-right: 10%;
}
.card-title{
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 30px;
font-weight: bold;
}

.p-img{
height:50vh;
margin: 3%;
border-radius: 25px;
transition: transform 0.3s ease;
}
.p-img:hover {
  transform: scale(1.1); /* Scale the image to 110% on hover */
}

.menu-home{
  background-color: black;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  align-items: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.butt {
  animation: pulse 2s infinite; 
  height:6vh/* Adjust the animation duration and iteration count as needed */
}
 .fs75{
  font-size: 75px!important;
 }

.plate-home{
  display:flex;
  justify-content: center;
}
.enlarge-on-hover:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease; 
}
.plates{
  text-align: center;
  background-color: #1a1814;

  font-size: 10vh;
  font-family: 'Tangerine', cursive;
  color: #976513;
  padding: 5vh 0;
}

.t1{
  color: white;
  margin-top: 2%;
  font-size: 40px;
}
.c1{
  display: flex;
  flex-direction: column;

}
.p1{
  height: 250px;
  /* width: auto; */
}


.sun{
  animation: rotation infinite 8s linear ;
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to{transform: rotate(360deg);}
  
}

.wave-on-hover:hover {
  animation: wave 1s ease infinite;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.contact-form{
  display: flex;
  margin-bottom: 4vh;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foc{
  width: 50vw;
  margin-bottom: 10vh;
 
      background-color: #fff3c9;
    border-radius: 40px;
    padding: 30px;
    margin-top: 10vh;
}









 .testimonials{
  background-color: #1a1814;
  overflow: hidden;
  padding: 60px 0;
 
} 
.test-title{
  margin-bottom: 6vh;
}
.test-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  margin: 4px 10px;}
.test-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}
.test-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #cda45e;
}

.test-text{
  color: white;
}
.form-outline .form-control:focus~.form-label {
  color: black!important;
}
.black-label {
  color: black; /* Change label text color to black */
}

.black-input {
  border: 1px solid black; /* Change input border color to black */
  color: black; /* Change input text color to black */
  transition: border-color 0.2s; /* Add a transition for smooth focus effect */
}

/* Example for focusing on input fields */
.black-input:focus {
  border-color: black; /* Change border color on focus to yellow */
}
.form-check-input[type=checkbox]:checked {
  background-image: none;
  background-color: #976513!important;
  border-color: #976513;
}


.carousel-place{
width: 75vw;
}
.carousel-place-outer{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 80vh;
  padding: 20vh 0;
}
.ci{
  border-radius: 50px;
  height: 400px; /* Adjust the height as needed */
  object-fit: cover;
}

.cpText{
  text-align: center;
    font-size:13vh;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #cda45e;
}
.default-link {
  color: rgba(255, 255, 255, 0.55)!important; /* Active color (white) */
  transition: color 0.3s!important; /* Smooth color transition */
}

.default-link:hover {
  color: #cda45e!important; /* Hover color (gold) */
}
.default-link:active{
  color: white!important;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--mdb-navbar-toggler-icon-bg)!important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}


@media (max-width: 768px) {
  /* Apply the font-size rule for .fs75 for small devices */
  .fs75 {
    font-size: 39px !important;
  }
  .About-text {

    font-size: 25px!important;

}
.About-title {
  font-size: 55px!important;

}
.plate-home {
  flex-direction: column!important;
}
.logo-special{
  height: 75vh;
}
.p1{
  height: 180px;
  width: 180px;
}
.c1{
  align-content: center;
  flex-wrap: wrap;
}
.foc{
  width: 80vw!important;
}

.fork {
  display: none;
}
.knife{
  display: none;
}
.col-6 {

  width: 100%!important;
}
.Login {
 
  background-size: contain!important;

}
.loginheight{
  height: 75.7%;
}
}

@media (min-width: 992px)
{
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
}

.title-autoplay{
  color: black;
  font-family: 'Yellowtail', cursive;
}

.databox{
  width: 70vw;
  margin: 50px;
  border-radius: 40px;
  padding: 40px;
  list-style: none;
  color: black;
  display: flex;
  background-color: #ffb14a96;
  flex-direction: column;
  
  align-items: center;
}

.box-admin{
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  align-content: center;
  align-items: center;
}

.btn-secondary{
  margin-top: 40px;

}