.c1{
    display: flex;
    flex-direction: column;

}
.p1{
    height: 250px;
    /* width: auto; */
}

.t1{
    color: black;
    margin-top: 2%;
    font-size: 40px;
}
.plates{
    text-align: center;
    
    margin-top: 5%;
    font-size: 10vh;
    font-family: 'Tangerine', cursive;
    color: #976513;
}
.sun{
    animation: rotation infinite 8s linear ;
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to{transform: rotate(360deg);}
    
}